<div class="content-section introduction">
    <div class="feature-intro">
        <h1>Usuários <span>GridLines</span></h1>
        <p>Essa é a tabela de <b>Usuário</b> mostrando os principais dados do usuário</p>
    </div>
</div>
<p-card>
    <div class="content-section implementation">
        <div class="p-mb-3">
            <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
        </div>
        <p-table #dt2 [value]="usuarios" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
        currentPageReportTemplate="Mostrando {first} / {last} de um total de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]"
        dataKey="id" [loading]="loading" styleClass="p-datatable-customers" 
        [globalFilterFields]="['id','nome','idade','email']" [lazy]="true">
   
            <ng-template pTemplate="caption">
                Usuários
                <div class="p-d-flex">
                    <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="nome">Nome<p-sortIcon field="nome"></p-sortIcon></th>
                    <th pSortableColumn="idade">Idade<p-sortIcon field="idade"></p-sortIcon></th>
                    <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="cpfOuCnpj">Cpf/Cnpj<p-sortIcon field="cpfOuCnpj"></p-sortIcon></th>
                    <th pSortableColumn="tipo">Tipo<p-sortIcon field="tipo"></p-sortIcon></th>
                    <th pSortableColumn="endereco.cidade.nome">Cidade<p-sortIcon field="endereco.cidade.nome"></p-sortIcon></th>
                    <th pSortableColumn="telefone">Telefone<p-sortIcon field="telefone"></p-sortIcon></th>

                    <th>Operações</th>

                </tr>
           <tr>
            <th>
                <p-columnFilter type="text" field="id"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="nome"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="idade"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="email"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="cpfOuCnpj"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="tipo"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="endereco.cidade.nome"></p-columnFilter>
            </th>
           </tr>
                
            </ng-template>
            <ng-template pTemplate="body" let-usuarios>
                
                <tr>
                    
                    <td>{{usuarios.id}}</td>
                    <td>{{usuarios.nome}}</td>
                    <td>{{usuarios.idade}}</td>
                    <td>{{usuarios.email}}</td>
                    <td>{{usuarios.cpfOuCnpj}}</td>
                    <td>{{usuarios.tipo}}</td>
                    <td>{{usuarios.endereco.cidade.nome}}</td>
                    <td>{{usuarios.telefone}}</td>
                    <td></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                Total
                
            </ng-template>
        </p-table>
    </div>
</p-card>